<div class="container">
  <h3><b>Listing Products</b></h3>

  <% @products.each do |product| %>
      <div class="flistingblock ">
        <div class="imgListingContainer">
          <%= image_tag (product.image) %>
        </div>
        <div class="browseImg imgContainerShadow"></div>
        <div class="itemtitle">
          <%=link_to product.name, product %>
        </div>
        <div>
          <span class="price">Starts @ </span>
          <%= product.price %>
        </div>
      </div>
  <% end %>
</div>
<h5><b><%= link_to 'Category List', categories_path %></b></h5>
